div[name="notice"] {display: none!important;}
div[name="More"].btn.flex {opacity: 0;-webkit-transition: .3s;}
div[name="More"].btn.flex:hover {opacity: 1;}
table[name="ACT_2line"], table.tableHeader {text-shadow: rgb(0, 0, 0) 0px 0px 0.3rem;}
