div[name="notice"] {display: none!important}
div[name="More"].btn.flex {opacity: 0;-webkit-transition: .3s}
div[name="More"].btn.flex:hover {opacity: 1}
table[name="ACT_2line"], table.tableHeader {text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516}
td[name="time"] {padding-left: 0.4rem!important;font-variant-numeric: tabular-nums}
